<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pilot Terbaik</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar(current='Home')"></nav>

    <br>
    <br>
    <br>
    <div class = container>
        <form th:action ="@{/cari/pilot/penerbangan-terbanyak}" class="form-group-inline" method="GET">
            <div class ="row justify-content-center">
                <div class="col-5">
                    <label><b>Pilih Kode Maskapai :</b></label>
                    <select class="form-control" name="kodeMaskapai">
                        <option value="" selected>Pilih Maskapai</option>
                            <option th:each="maskapai : ${listMaskapai}"
                                th:value="${maskapai.kodeMaskapai}"
                                th:selected="${maskapaiModel.kodeMaskapai == maskapai.kodeMaskapai}"
                                th:text="${maskapai.kodeMaskapai}"> </option>
                    </select>
                    <br>
                    <div class = "d-flex justify-content-center">
                        <button class = "btn btn-primary" type = "submit" value="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br>
    <br>
    <br>
    <div class = container>
        <table th:if="${listPilot.size()!=0}" class = "table">
            <h2 class = "text-center">Daftar 3 Pilot Terbaik Berdasarkan Penerbangan Terbanyak</h2>
            <thead class = "bg-primary" style="color: aliceblue">
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Jumlah Penerbangan</th>
                    </tr>
            </thead>
            <tbody>
                <tr th:each="pilot, iterationStatus : ${listPilot}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${pilot.getNamaPilot()}"></td>
                    <td th:text="${pilot.getNip()}"></td>
                    <td th:text="${pilot.getListPilotPenerbanganModel().size()}"></td>
                </tr>
            </tbody>
        </table>
        <h2 class = "text-center">Maskapai belum ini memiliki Pilot yang telah bertugas</h2>
    </div>
</body>
</html>